{% extends 'base.html' %}


{% block section %}

<main class="main">
    

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Crime Details </h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Crime Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container py-5 my-5">
        <div class=" row justify-content-center">
          <div class="col-md-12">
            <div class="card shadow-lg">
              <!-- <img src="{{ course.image.url}}" class="card-img-top" style="width: auto; height: 350px ; object-fit: fill;" alt="Complete Python Bootcamp"> -->
                
              <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <h4 class="card-title mb-3 text-lg-center">
                 <span class="fw-bold fs-3 " style="color: rgb(241, 126, 32);"> Enter the Details </span>
                </h4>
                <div class="d-flex row justify-content-evenly">
                    <div class="col-2 text-center"><label for="name" >Name   </label> </div><div class="col-8"> {{ form.police_officer }} </div>
                </div>
                 <div class="d-flex row justify-content-evenly mt-3">
                            <div class="col-2 text-center"><label for="name" >Image   </label> </div><div class="col-8"> {{ form.image }} </div>
                </div>

                <div class="d-flex row justify-content-evenly mt-3">
                             <div class="col-2 text-center"><label for="name" >Profile   </label> </div><div class="col-8"> {{ form.description }} </div>
                </div>
                  
                
                    <div class="mt-4 text-end"> 
                        <button type="submit" class="btn btn-primary mt-4">Register</button>
                    </div>
               </form>
              </div>
            
              
            </div>
                      
          </div>

        </div>
     </div>
    
    
</main>


{% endblock %}